version: '3.8'

services:
  mongo:
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  auth-service:
    build:
      target: dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/auth-service/node_modules
    environment:
      - NODE_ENV=development

  user-service:
    build:
      target: dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/user-service/node_modules
    environment:
      - NODE_ENV=development

volumes:
  mongo-data:
