version: '3.8'

services:
  auth-service:
    build:
      target: dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/auth-service/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3000:3000"

  user-service:
    build:
      target: dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/user-service/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3002:3002"
